*{
    padding: 0;
    margin: 0;
}
body{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
    height: 100vh;
    
}
nav{
  box-shadow: 1px 1px 15px black;
}

h1{
  display: flex;
  justify-content: center;
  margin: 1em auto;
}


.contenedor-1{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
    background-color: #f0f0f0;
    padding: 20px 0;
    text-align: center;
    box-shadow: 4px 4px 15px rgb(58, 58, 58);
    margin: 0 auto;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }


  p {
    color: #888;
    font-size: 1em;
    margin: 2em;
    text-align: center;
  }

  a{
    color: black;
    text-decoration: none;
  }

  .image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    justify-items: center;
    padding: 20px;
  }
  h2{
    margin: 2em;
  }
  

  .agregar{
    display: flex;
    justify-content: center;
  }
  
  .image {
    max-width: 100%;
    max-height: 400px;
    border-radius: 5px;
  }
  
 
  .Eliminar{
    appearance: none;
    -webkit-appearance: none;
    color: white;
    background-color: black;
    border-radius: 7px;
    margin: 0.5em auto;
  }

  


  /* Estilos para tablet */
  @media only screen and (max-width: 768px) {
    footer{
      position: relative;
    }

  }




  /* Estilos para telefonos */
  @media only screen and (max-width: 390px) {
    p {
      color: #888;
      font-size: 0.7em;    
    }

    .agregar{
      display: flex;
      justify-content: center;
      width: 27em;
      margin: 0 auto;
      font-size: 0.6em;
    }
    
    
    .Eliminar{
      appearance: none;
      -webkit-appearance: none;
      color: white;
      background-color: black;
      border-radius: 7px;
      margin: 0.5em;
    }

   
  }