*{
    padding: 0;
    margin: 0;
}
body{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
    height: 100vh;
    
}
nav{
  box-shadow: 1px 1px 15px black;
}

.imagenInicio{
    display: block;
    margin: 0 auto;
    margin-top: 3em;
    width: 40em;
    
}

.contenedor-1{
    display: flex;
    justify-content: center;
    margin: 2em auto;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
    background-color: #f0f0f0;
    padding: 20px 0;
    text-align: center;
    box-shadow: 4px 4px 15px rgb(58, 58, 58);
    margin: 0 auto;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
  
  p {
    color: #888;
    font-size: 18px;
  }

  .boton1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3em auto;
    -webkit-appearance: none;
    appearance: none;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    width: 20em;
    height: 3em;
    background-color: black;
    box-shadow: 4px 4px 15px rgb(58, 58, 58);
    font-size: 20px;
  }
  a{
    color: black;
    text-decoration: none;
  }


  


  /* Estilos para tablet */
  @media only screen and (max-width: 768px) {

    .imagenInicio{
      width: 35em;
      margin-top: 6em;
    }


    .boton1{
      width: 15em;
      height: 2.5em;
      margin: 2em auto;
      font-size: 19px;
    }

    p{
      font-size: 16px;
      margin: 2em;
      text-align: center;
      
    }
    .contenedor-1{
      display: flex;
      justify-content: center;
      margin: 1em auto;
  }

  footer {
    height: 7em;
    }

  }




  /* Estilos para telefonos */
  @media only screen and (max-width: 390px) {

    .imagenInicio{
      width: 20em;
      margin-top: 3em;
    }

    .boton1{
      width: 10em;
      height: 2em;
      margin: 2em auto;
      font-size: 18px;
    }

    p{
      font-size: 14px;
      margin: 1.5em;
      text-align: center;
      
    }
    .contenedor-1{
      display: flex;
      justify-content: center;
      margin: 1em auto;
  }

  footer {
    height: 7em;
    }
    
  }