*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Montserrat', sans-serif; /*TIPOGRAFIAS*/
  font-weight: 400;
    background-color: beige;
    justify-content: center;
}
h1{
    display: flex;
    justify-content: center;
    margin: 2em auto;
    text-decoration: underline; 
}

h2{
    display: flex;
    justify-content: center;
    margin: 2em auto;
     

}
/*IMAGEN PRODUCTO*/
.imagen{
    width: 100%;
  object-fit: cover;
  border-radius: 10px;
  padding-bottom: 1em;
}

p{
    display: flex;
    justify-content: center;
}

/*PRODUCTOS*/
li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 50%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1em;
    margin: 3em auto;
    list-style: none;
    font-weight: bold;
    font-size: 1.5em;
}
/*BOTON CERRAR SESION Y ELIMINAR*/
.cerrarses{
    display: flex;
    text-decoration: none;
    appearance: none;
    -webkit-appearance: none;
    color: white;
    background-color: black;
    border-radius: 10px;
    padding: 20px;
    justify-content: center;
    margin: 4em auto;
    width: 20em;
    cursor: pointer;


}
/*HEADER*/
.cabeza{
    background-color: rgb(237, 237, 237);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 0 auto;
    box-shadow: 4px 4px 30px black;
}


  /* Estilos para tablet */
  @media only screen and (max-width: 768px) {

  }




  /* Estilos para telefonos */
  @media only screen and (max-width: 390px) {

    .cerrarses{
        margin: 2em auto;
        width: 13em;
    }
    li{
        font-size: 1em;
    }
    
   
  }
