*{
    padding: 0;
    margin: 0;
}
body{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
    height: 100vh;
    
}
nav{
  box-shadow: 1px 1px 15px black;
}
h1{
  display: flex;
  justify-content: center;
  margin: 2em auto;
}


.contenedor-1{
    display: flex;
    justify-content: center;
    margin: 2em auto;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
    background-color: #f0f0f0;
    padding: 20px 0;
    text-align: center;
    box-shadow: 4px 4px 15px rgb(58, 58, 58);
    margin: 0 auto;
  }

  

  
  p {
    color: #888;
    font-size: 14px;
  }

  
  a{
    color: black;
    text-decoration: none;
  }


  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    margin: 5em;
  }

  .product-card {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 20px black;
    
  }

.product-image {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.product-title {
  font-size: 1.5em;
  margin: 10px 0;
}

.product-cuerpo {
  color: rgb(163, 163, 163);
  font-size: 1em;
  margin: 10px 0;
}

.product-price {
  margin-bottom: 10px;
  font-size: 1.2em;
  color: black;
}





.reserve-btn{
  -webkit-appearance: none;
  appearance: none;
  background-color: #1b1b1b;
  color: #fff;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 7px;
  width: 8em;
  height: 2.5em;
}

.reserve-btn.reserved {
  -webkit-appearance: none;
  appearance: none;
  background-color: #ff0000;
  color: #fff;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 7px;
  width: 8em;
  height: 2.5em;
}


  


  /* Estilos para tablet */
  @media only screen and (max-width: 768px) {

   
    
   

  }




  /* Estilos para telefonos */
  @media only screen and (max-width: 390px) {

    .contenedor-1{
      display: flex;
      justify-content: center;
      text-align: center;
      margin: 2em auto;
  }

  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    margin: 5em auto;
    justify-content: center;
  }

  .product-card {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 20px black;
    width: 19em;
    margin: 0 auto;
  }

.product-image {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.product-title {
  font-size: 1.2em;
  margin: 10px 0;
}

.product-cuerpo {
  color: rgb(163, 163, 163);
  font-size: 0.8em;
  margin: 10px 0;
}

.product-price {
  margin-bottom: 10px;
  font-size: 1em;
}


    
  }